body {background-color:#c5e0fa; 
    font-family:Georgia, serif; 
    margin:0; 
    padding:20px;}

    h1 {color:#32597e; 
        text-align:center;}

    p {font-size:2em; 
        text-align:justify; 
        line-height:2;}

    ul li {margin-bottom:50px;}

    img {width:100%; 
        max-width:400px; 
        border-radius:20px; 
        margin:20x auto;}

    table, th, td {border:2px solid #000000;}

    table {width:18%; 
        border-collapse:collapse; 
        margin-top:10px; 
        background-color:#bde1ff;}

    th, td {padding:10px; 
        text-align:left}

    th {background-color:#82c6fdd7;}

    a {color:#0088e9; 
        text-decoration:none; 
        transition: color 0.3s ease;}
    a:hover {color:#283c55;}