body {background-color:#d6ebff; 
    font-family:Georgia, serif; 
    margin:0; 
    padding:20px;}

    h1 {color:#283949; 
        text-align:center;}

    p {font-size:2em; 
        text-align:justify; 
        line-height:2;}

    ul li {margin-bottom:50px;}

    img {width:100%; 
        max-width:350px; 
        border-radius:20px; 
        display:block; 
        margin:10x auto;}

    table, th, td {border:2px solid #000000;}

    table {width:18%; 
        border-collapse:collapse; 
        margin-top:10px; 
        background-color:#c4e1f8;}

    th, td {padding:10px; 
        text-align:left}

    th {background-color:#7ea3ff;}

    a {color:#0088e9; 
        text-decoration:none; 
        transition: color 0.3s ease;}
    a:hover {color:#283c55;}